*{
    margin: 30;
    padding: 30;
}



body{
    width:100%;
    height:100vh;
    font-family:URW Chancery L, cursive;
    background-color: grey;
}

.title{
    transform: translate(-15%,-50%);
    font-size: 1.0em;
    text-align: center;
    position: relative;
    font-family: Luminari,normal;
    margin: 0px 0px 10px 30px;
}

.form{
    font-size: 1.5em;
    position:sticky;
    box-shadow:10px 5px 5px #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius:10px;
    padding: 70px;
    width: min-content;
    align-items: center;
    color: black;
    height:30%;
}

input{
    width: 200px;
    height: 20px;
    border-radius: 22px;
    padding: 1px;
    border: 2px ,black solid;
    margin: 0px 5px 5px 0px;
}
.buttonmaster{
    width: 10px;
    position: relative;
    align-items: center;
    left:35%;
    background-color: transparent;
    top: 20px;
}

.button{
    background-color: grey;
    border-color: transparent;
    color: black;
    border-radius: 20px;
    font-size: 15px;
    font-family:URW Chancery L, cursive;
    
}

.button:hover{
    background-color: rgb(206, 28, 250);
    color:white;
}