body{
    background-color: grey;
    
}

.barra{
    position: absolute;
    top: 12.2%;
    left: 0%;
    width: 100%;
    height: 5%;
    background-color: #D9D9D9;

}

.linkhome{
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    top: 13.4%;
    left: 10%;
}

.linkatividades{
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    top: 13.4%;
    left: 20%;
}

.linknotas{
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    top: 13.4%;
    left: 31%;
}

.linkperfil{
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    top: 13.4%;
    left: 41%;
}

.linkcalendario{
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    top: 13.4%;
    left: 50%;
}

.linkhorario{
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    top: 13.4%;
    left: 67%;
}

.linkmanual{
    position: absolute;
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    top: 13.4%;
    left: 80%;
}


.cabecalho{
    position: absolute;
    top: 0%;
    left: 0%;
    background: #2E5ACC;
    background-color: #2E5ACC;
    width: 100%;
    height: 10%;
    padding: 10px 0px;
}

.titulo2{
    position: absolute; 
    top: -1%;
    left: 2%;
    height: 10%;
    text-align: left;
    font-size: 50px;
    color: #CFD0E2;
}

.nomealuno{
    position: absolute;
    top: 18%;
    left: 2%;
    height: 10%;
    font-size: 40px;
    color: black;
}

.imgperfil{
    position:absolute;
    left: 3%;
    width: 10%;
    top: 28%;
}

.registro{
    position:absolute;
    font-size: 20px;
    color: #3458B5;
    left: 14%;
    height: 10%;
    top: 28.5%;
}

.numregistro{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 14%;
    height: 10%;
    top: 31.5%;
}

.curso{
    position:absolute;
    font-size: 20px;
    color: #3458B5;
    left: 14%;
    height: 10%;
    top: 34.5%;
}

.namecurso{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 14%;
    height: 10%;
    top: 37.5%;
}

.turno{
    position:absolute;
    font-size: 20px;
    color: #3458B5;
    left: 14%;
    height: 10%;
    top: 40.5%;
}

.numturno{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 14%;
    height: 10%;
    top: 43.5%;
}

.dados{
    position:absolute;
    font-size: 30px;
    color: #3458B5;
    left: 2%;
    height: 10%;
    top: 50%;
}

.nomedados{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 2%;
    height: 10%;
    top: 55%;
}

.contato{
    position:absolute;
    font-size: 30px;
    color: #3458B5;
    left: 2%;
    height: 10%;
    top: 64%;
}

.email{
        position:absolute;
        font-size: 20px;
        color: black;
        left: 2%;
        height: 3%;
        top: 70%;
}

.fundoemail{
    position:absolute;
    background-size: 20px;
    opacity: 0.8;
    left: 2%;
    width: 18%;
    height: 3%;
    top: 74.3%;
    background-color: #BBB9B9;
}

.nomeemail{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 2%;
    height: 3%;
    top: 73%;
}

.telefone{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 30%;
    height: 3%;
    top: 70%;
}

.fundotel{
position:absolute;
background-size: 20px;
opacity: 0.8;
left: 30%;
width: 18%;
height: 3%;
top: 74.3%;
background-color: #BBB9B9;
}

.numtel{
position:absolute;
font-size: 20px;
color: black;
left: 30%;
height: 3%;
top: 73%;
}

.telefonecel{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 58%;
    height: 3%;
    top: 70%;
}

.fundotelcel{
position:absolute;
background-size: 20px;
opacity: 0.8;
left: 58%;
width: 18%;
height: 3%;
top: 74.3%;
background-color: #BBB9B9;
}

.numtelcel{
position:absolute;
font-size: 20px;
color: black;
left: 58%;
height: 3%;
top: 73%;
}

.endereco{
    position:absolute;
    font-size: 30px;
    color: #3458B5;
    left: 2%;
    height: 10%;
    top: 79%;
}

.cep{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 2%;
    height: 3%;
    top: 85.3%;
}

.fundocep{
position:absolute;
background-size: 20px;
opacity: 0.8;
left: 2%;
width: 18%;
height: 3%;
top: 89.3%;
background-color: #BBB9B9;
}

.numcep{
position:absolute;
font-size: 20px;
color: black;
left: 2%;
height: 3%;
top: 88.3%;
}

.nomeender{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 30%;
    height: 3%;
    top: 85.3%;
}

.fundoender{
position:absolute;
background-size: 20px;
opacity: 0.8;
left: 30%;
width: 18%;
height: 3%;
top: 89.3%;
background-color: #BBB9B9;
}

.numender{
position:absolute;
font-size: 20px;
color: black;
left: 30%;
height: 3%;
top: 88.3%;
}

.num{
    position:absolute;
    font-size: 20px;
    color: black;
    left: 58%;
    height: 3%;
    top: 85.3%;
}

.fundonumero{
position:absolute;
background-size: 20px;
opacity: 0.8;
left: 58%;
width: 18%;
height: 3%;
top: 89.3%;
background-color: #BBB9B9;
}

.numnumero{
position:absolute;
font-size: 20px;
color: black;
left: 58%;
height: 3%;
top: 88.3%;
}

.backconq{
    position: absolute;
    top: 28%;
    left: 60.2%;
    width: 100%;
    height: 25%;
    width: 15%;
    background-color: #BBB9B9;
    opacity: 0.5;
    border-radius: 10px;
    border-style:solid;
}

.conquistas{
    position:absolute;
    font-size: 20px;
    color: #000000;
    left: 63%;
    height: 10%;
    top: 28.5%;
}

.ouro{
    position: absolute;
    top: 34%;
    left: 63%;
    height: 4%;
}

.bronze{
    position: absolute;
    top: 34%;
    left: 65%;
    height: 4%;
}
.bronze2{
    position: absolute;
    top: 34%;
    left: 67%;
    height: 4%;
}

.ouro2{
    position: absolute;
    top: 34%;
    left: 69%;
    height: 4%;
}

.bronze3{
    position: absolute;
    top: 34%;
    left: 71%;
    height: 4%;
}

.prata{
    position: absolute;
    top: 38%;
    left: 71%;
    height: 4%;
}

.prata2{
    position: absolute;
    top: 38%;
    left: 63%;
    height: 4%;
}

.ouro3{
    position: absolute;
    top: 38%;
    left: 65%;
    height: 4%;
}

.ouro4{
    position: absolute;
    top: 38%;
    left: 67%;
    height: 4%;
}

.prata3{
    position: absolute;
    top: 38%;
    left: 69%;
    height: 4%;
}

