body{
    background-color: grey;
    
}

.bloco1{
    font-size: 0.5em;
    
    position:absolute;
    
    top: 50%;
    
    left: 50%;
    
    transform: translate(-50%,-50%);
    
    background: white;
    
    border-radius:10px;
   
    padding: 100px 60px 10px 20px;
   
    width: 300px;
   
    height: 400px;
    
    color: black;
   
    box-shadow: 10px -7px 5px rgba(0, 0, 0, 0.205);

}

.icone{
    position:relative;
    left: 40%;
    height: 20%;
    top: -15%
}

.dados{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
}